<!--个人介绍-->
<div class="jumbotron masthead">
    <h1>Hello, world!</h1>
</div>
<!--联系方式-->
<div class="bc-social">
    <div class="container">
        <ul class="bc-social-buttons">
            <li class="social-mail">
                <i class="fa fa-mail"></i>
                <span>jinge1399@163.com</span>
            </li>
        </ul>
    </div>
</div>

<!--精选-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3 ">.col-sm-6 col-md-4 col-lg-3 </div>
        <div class="col-sm-6 col-md-4 col-lg-3 ">.col-sm-6 col-md-4 col-lg-3 </div>
        <div class="col-sm-6 col-md-4 col-lg-3 ">.col-sm-6 col-md-4 col-lg-3 </div>
        <div class="col-sm-6 col-md-4 col-lg-3 ">.col-sm-6 col-md-4 col-lg-3 </div>
        <div class="col-sm-6 col-md-4 col-lg-3 ">.col-sm-6 col-md-4 col-lg-3 </div>
    </div>
</div>