<!DOCTYPE HTML>
<html ng-app="blog">
<head>
    <meta charset="UTF-8">
    <title>大叔小站</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="一个喜欢做游戏的大叔，但是十分的猥琐。">
    <meta name="keywords" content="技术,博客,手机游戏开发,大叔">
    <meta property="wb:webmaster" content="6fe68af5b82961b4"/>
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="/bower_components/normalize-css/normalize.css" rel="stylesheet"/>
    <!--<link href="/bower_components/tinymce/skins/lightgray/skin.min.css" rel="stylesheet"/>-->
    <link href="/stylesheets/common.css" rel="stylesheet"/>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/underscore/underscore-min.js"></script>
    <!--<script src="/bower_components/tinymce/tinymce.min.js"></script>-->
    <!--<script src='https://cdn.tinymce.com/4/tinymce.min.js'></script>-->
    <script src="/ckeditor/ckeditor.js"></script>
    <script src="/javascripts/home.js"></script>
    <script src="/javascripts/network.js"></script>
</head>
<body ng-controller="layoutCtrl">
<!-- 导航 -->
<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <ul class="nav nav-tabs">
            <li role="presentation" ng-repeat="i in mainMenu" ng-class="{'active': $route.current.activetab == i.page}">
                <a href="#/{{i.page}}">{{i.name}}</a></li>
        </ul>
    </nav>
</header>
<!--<pre>$location.path() = {{$location.path()}}</pre>-->
<!--<pre>$route.current.templateUrl = {{$route.current.templateUrl}}</pre>-->
<!--<pre>$route.current.activetab = {{$route.current.activetab}}</pre>-->
<!--<pre>$route.current.params = {{$route.current.params}}</pre>-->
<!--<pre>$routeParams = {{$routeParams}}</pre>-->

<!--<script type="text/javascript">-->
<!--tinymce.init({-->
<!--selector: '#myeditablediv'-->
<!--});-->
<!--</script>-->
<!--<form method="post">-->
<!--<div id="myeditablediv">Hello, World!</div>-->
<!--</form>-->

<div ng-view>
</div>

<!-- 结尾 -->
<footer class="footer">
    <div class="container">
        <div class="row footer-bottom">
            <ul class="list-inline text-center">
                <li><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备15042839号-1</a></li>
            </ul>
        </div>
    </div>

</footer>

</body>
</html>