<div class="container-fluid">
    <!--<script type="text/javascript">-->
        <!--tinymce.init({-->
            <!--selector: 'div#myeditablediv',-->
            <!--inline: true-->
        <!--});-->
    <!--</script>-->
    <!--<form method="post">-->
        <!--<div id="myeditablediv">Hello, World!</div>-->
    <!--</form>-->
    <form>
        <textarea name="editor2" id="editor2">
            This is
        </textarea>
        <script type="text/javascript">
            console.info("---------- script --------");
            CKEDITOR.replace('editor2');
        </script>
    </form>
</div>

<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
    <!--<script src='http://127.0.0.1:3000/bower_components/tinymce/tinymce.min.js'></script>-->
    <!--<script>-->
        <!--tinymce.init({-->
            <!--selector: '#mytextarea'-->
        <!--});-->
    <!--</script>-->
<!--</head>-->

<!--<body>-->
<!--<h1>TinyMCE Quick Start Guide</h1>-->
<!--<form method="post">-->
    <!--<textarea id="mytextarea">Hello, World!</textarea>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->